[Unit]
Description=First time device configuration

[Service]
ExecStart=/usr/local/bin/device-setup

[Install]
WantedBy=network.target
Wants=hostpad.service dnsmasq.service